# Unity .gitignore
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

.vs/
.vs/FPS0/v17/
Packages/com.crashkonijn.goap/
.vs/FPS0/v17/.suo
.vs/FPS0/v17/DocumentLayout.backup.json
.vs/FPS0/v17/DocumentLayout.json
.vs/FPS0/v17/fileList.bin
.vs/FPS0/v17/.suo
.vs/FPS0/v17/DocumentLayout.backup.json
.vs/FPS0/v17/DocumentLayout.json
.vs/FPS0/v17/fileList.bin
